* {
  margin: 0;
  padding: 0;
}

body {
  color: #171616;
  font-family: Poppins;
  font-size: 16pt;
  line-height: 1.5rem;
  margin: 0;
}

.bg_img {
  position: relative;
  z-index: 10;
  width: auto;
  height: 365px;
  background-image: url(img/bg\ fruits.png);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.bg_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9ae2d70;
}

.bg_img h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.8rem;
  color: white;
}

.angleleft_btn {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #252525;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  top: 40%;
  left: -40px;
  padding-left: 30px;
}

.angleleft_btn:hover {
  background: #1b1b1b;
}

.angright_btn {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #252525;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  top: 40%;
  right: -40px;
  padding-right: 30px;
}

.angright_btn:hover {
  background: #1b1b1b;
}

.nav_bar {
  position: relative;
  top: -40px;
  z-index: 10;
}
.nav_alement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252525;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.search_icon {
  background: #252525;
  border: none;
  padding: 1.6rem;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.search_icon i {
  font-size: 22px;
  color: white;
}

.nav_ul li {
  padding: 1.5rem;
  list-style: none;
  text-decoration: none;
}

.nav_ul li a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.card_one {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
  margin-top: 3rem;
  color: #171616;
}

.buy_now {
  background: #313131;
  color: white;
  padding: 0.7rem 2.5rem;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.container_one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  margin: 10rem 0;
}

.bg_contain {
  background: #ececec;
}

.about_fruite img {
  position: relative;
  margin-left: 5rem;
  margin-right: -5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 600px;
  height: auto;
}

.about_text {
  text-align: center;
}

.about_text p {
  text-align: center;
  line-height: 22pt;
  color: #171616;
  margin-top: 1.5rem;
}

.about_text button {
  padding: 0.8rem 2rem;
  border-radius: 2px;
  background-color: #313131;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 2rem;
}

/* -------------------------------------------- */
.container_two {
  margin: 10rem auto;
}

.fresh_fruit_text {
  display: flex;
  gap: 0.6rem;
  margin-left: 8rem;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #313131;
  margin-bottom: 5rem;
}

.fresh_fruit_text hr {
  width: 10rem;
}

#fresh_fruit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 5rem;
}

#fresh_fruit div img {
  width: 100%;
  height: auto;
  display: block;
}

.img_orang {
  position: relative;
  overflow: hidden;
}

.overly {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #252525a9;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: top 0.6s ease;
}

.img_orang:hover .overly {
  top: 0;
  cursor: pointer;
}

.overly button {
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 12pt;
  padding: 0.5rem 2rem;
  margin: 1.2rem 0;
  cursor: pointer;
}
/* ---------------------------------------------------- */
.container_three {
  text-align: center;
}

.style_hr {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  color: #313131;
}

.style_hr hr {
  width: 16rem;
  margin-left: 1rem;
}

.crousel_child {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.crousel_child button {
  background: #313131;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
}

.crousel_img {
  background-image: url(img/cline-1.jpg);
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 8rem;
  border: 1px solid gold;
}
.crousel_one p {
  color: #1a1a1b;
  font-family: roboto;
  line-height: 22pt;
  margin-top: 0.6rem;
}

.crousel_one h5 {
  font-size: 16pt;
  margin-top: 2rem;
}
/* ------------------------------------------------ */
.container_four {
  margin: 12rem auto;
}

.contract_map {
  display: flex;
  width: 340px;
  height: 340px;
  margin: 5rem auto;
  text-align: center;
  justify-content: center;
}

.request_c {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 9rem;
}

.request_c hr {
  width: 20rem;
  margin-right: 1rem;
}

.form_div {
  max-width: 500px;
  margin: auto;
}
.form_div form {
  display: flex;
  flex-direction: column;
}

.form_div input {
  width: 100%;
  padding: 10px;
  margin-top: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px #0000003b;
}

.form_div textarea {
  width: 520px;
  height: 200px;
  margin-top: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px #0000003b;
}

.form_div button {
  width: 8rem;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #f89e12;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.g_map {
  margin-left: 3rem;
}

/* ---------------------------------------------------------- */

.container_five {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #2e2e2e;
  height: 60vh;
  color: white;
}

.call_location {
  display: flex;
  margin-bottom: 3rem;
  gap: 0;
}

.call_location p {
  font-size: large;
  margin-left: 0.8rem;
}

.call_location i {
font-size: larger;
  margin-left: 6rem;
}

.fotter_f{
  margin-right: 5rem;
  display: block;
}

.fotter_f h1{
  margin-bottom: 5rem;
  margin-left: 1px;
}

.fotter_f input{
  width: 40%;
  padding: 10px;
  border: none;
  margin: 0;
}

.fotter_f button{
  background: #f89e12;
  border: none;
  padding: 10px 5rem;
  cursor: pointer;
  margin: 0;
}


.footer_i ul {
  display: flex;
  margin: 1rem 3rem;

}

.footer_i ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.6rem;
  text-decoration: none;
  list-style: none;
  font-size: larger;
  cursor: pointer;
}

.demo {
  display: flex;
  margin: 2.5rem 3rem;
}

.demo i{
  margin-right: 1rem;
}

.demo p{
  font-size: large;
}

.last_buttom{
  width: 100%;
  height: 5vh;
}

.last_buttom p{
  text-align: center;
  padding: 0.8rem 0;
  font-size: 10pt;
}